name: Playwright Tests
on:
  pull_request:
    branches: [main, develop/replace-ui] # TODO: 移行できたらmainのみにする
    types: [opened, synchronize]
jobs:
  test:
    name: Playwright Tests
    timeout-minutes: 30
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
      options: --user 1001
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v4
      with:
        node-version: 24.x
    - name: Install dependencies
      run: npm install -g pnpm && pnpm install
    - name: Run Playwright tests
      run: pnpm test:e2e
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
